@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html, body{
  overflow-x: hidden;
  
  display: flex;
  flex-direction: column;
  height:100vh;
  
  background-color:#FFDFDF; 
}
a{
  text-decoration: none;
  color: black; 
}
a:hover{
  text-decoration: none;
  color: black; 
}

.barrra-navegacion{
  max-width: 100%;
}


.contenedor{
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
}

.titulo{
  max-height: 8vh;
}
.contenedor-materias{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 30px;

  
  height: auto;
}
.contenedor-materias .seccion{
  padding: 0px 10px 0px 10px;
  margin-bottom: 30px;
}
.contenedor-materias .seccion .materia{
  width: 100%;
  height: 350px;
  max-width: 80%;
  background-color: #A70D12;
  border-radius:50px 0px 0px 0px;
}

.contenedor-materias .seccion img{
  height: 100%;
  max-width: 100%;
  transform: scaleX(-1);
}

.contenedor-materias .seccion .materia{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#matematicas{
  align-self: center;
  height: 200px;
  width: 100%;
  transform: scaleX(1);
}
#espanol{
  align-self: center;
  height: 150px;
  width: 90%;
  transform: scaleX(1);
}
#quimica{
  align-self: center;
  height: 200px;
  width: 90%;
  transform: scaleX(1);
}

.nombre-materia {
  position: absolute;
  background-color: #FFFFFF;
  margin-top: -25px;
  margin-left: 25%;  
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #615e5e;

  width: 170px;
  cursor: pointer;
}
.nombre-materia:hover {
  background-color:#d42228 ;
  color: #FFFFFF;
  transform: scale(1.1);
  border: 1px solid rgb(126, 36, 36);
  transition: all 200ms;

}

.nombre-materia h2{
  text-align: center;
  font-size: 23px;
  font-family: 'Exo', sans-serif;
  font-weight: normal;
  margin: 0px;
}
.informacion-caja{  
  display: block;
  background-color:#A70D12;
  color: #efefef;
  border-radius: 20px;
  padding: 12px 10px 12px 10px;

  height: auto;
  width: 100%;
}
.informacion-caja h3{  
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  margin: 0px;
}
.informacion-caja p{  
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  font-family: 'Exo', sans-serif;
  margin: 0px;
}
.informacion-caja p a{  
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  color: rgb(52, 128, 179);
  font-family: 'Exo', sans-serif;
  margin: 0px;
}
.informacion-caja p a:hover{  
  text-decoration: underline;
}

@keyframes nombreMaterias {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
}

100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
}
}

@media screen and (max-width: 1200px) {
  html, body{
    overflow-y: auto;    
  }
}